* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    padding: 10px;
    margin: 50px;
    border-bottom: 5px solid black;
    text-align: center;
}
h3 {
    text-align: center;
}

p
{
    text-align: center;
}
button {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    font-weight: bold;
    border-radius: 50px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 5px solid black;
    border-radius: 50px;
    padding-bottom: 50px;
    background-color: azure;
}
.cont_tam {
    margin: 10px;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: black; /* Cambiar el color de fondo para pantallas más pequeñas */
    }
    .cont {
        background-color: black;
        color: white;
        box-shadow: 0 0  10px red;
    }
    h2 {
        border-bottom: 5px solid red;
    }

    .cont_tam {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button {
        margin: 5px;
        background-color: red;
        color: white;
    }
}